.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.footer {
  width: 100%;
  flex-direction: column;
  bottom: 0;
  font-family: 'Poppins', sans-serif;
  margin-top:  200px;
}

.footer-sup {
  width: 100%;
  height: 104px;
  background: #121721;
}

.footer-inf {
  width: 100%;
  height: 174px;
  background: #0c0f16;
  ;
}