
.flex {
    display: flex;
}

.content {
    
    flex-direction: column;
    color: #0c0f16;
    justify-content: center;
    text-align: center;
    padding-left: 24px;
    padding-right: 24px;
    /* height: 100vh; */

}

h3 {
    font-size: 24px;
    color: #0c0f16;
    font-weight: bold;
    line-height: 32px;
}

.main {
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    max-width: calc(960px + (2 * 24px));
}

.linguagem {
    width: 100%;
    flex-direction: column;
}

.card-content {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    text-align: left;
}

.ferramentas-execucao {
    width: 100%;
    flex-direction: column;
}

@media (max-width: 870px) {
    .main {
        flex-direction: column;
    }
}