.container {

    right: 0;
    bottom: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    margin-bottom: 50px;
}

i {
    color: #fff;
    font-size: 28px;
}

.pulse {
    background: #44bd32;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.pulse::before {
    content: "";
    position: absolute;
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    border: 2px solid #44bd32;
    border-radius: 50%;
    animation: animate 1.5s linear infinite;
}

.pulse::after {
    content: "";
    position: absolute;
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    border: 2px solid #44bd32;
    border-radius: 50%;
    animation: animate 1.5s linear infinite;
    animation-delay: .4s;
}

@keyframes animate {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    50% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(1.4);
        opacity: 0;
    }
}